# Python
__pycache__/
*.py[cod]
*$py.class

# .NET
bin/
obj/
*.dll
*.exe

# JavaScript / TypeScript
**/node_modules/
*.log
*.tsbuildinfo
**/dist/
**/build/
**/out/

# IDEs
# IntelliJ IDEA
**/.idea/
*.iml

# Visual Studio Code
**/.vscode/

# Outras IDEs e editores
**/.DS_Store
**/Thumbs.db
**/.env